@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream text-gray-900 font-sans antialiased;
    scroll-behavior: smooth;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #FDFBF7; 
}

::-webkit-scrollbar-thumb {
  background: #b3c7b6; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8ba791; 
}
